header {
  background-color: #bbbbbb;
  padding: 20px 0;
}

.caja {
  width: 940px;
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  margin: 0 0 0 15px;
}

.productos {
  width: 940px; /* Tamaño padron de las pantallas de 1280 */
  margin: 0 auto; /* Los laterales se distribuyen de forma automática */
  padding: 50px;
}

.productos li {
  /* Cada item de la lista */
  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px; /* Gracias a border-box, esos 20px no van a sobrepasar los 30%
  que definimos del ancho, van a ser contabilizados dentro de ese 30% */
  box-sizing: border-box; /* El borde de cada uno de los items sera el limite del espacio que va a ser definido*/
  border: 2px solid #000000;
  border-radius: 10px; /* Orden en sentido del reloj */
}

.productos h2 {
  font-size: 30px;
  font-weight: bold;
}

.productos li:hover h2 {
  font-size: 33px;
}

.producto-descripcion {
  font-size: 18px;
}

.producto-precio {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

nav a:hover {
  /* Captura el comportamiento del movimiento de mouse */
  color: #c78c19;
  text-decoration: underline;
}

.productos li:hover {
  border-color: #c78c19;
}

.productos li:active {
  border-color: #088c19;
}

footer {
  text-align: center;
  background-image: url(./imagenes/bg.jpg);
  padding: 40px;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin: 20px;
}

main {
  width: 940px;
  margin: 0 auto;
}

form {
  margin: 40px 0;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  border: none;
}

.input-padron {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: orange;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}

table {
  margin: 40px;
}

thead {
  background: #555555;
  color: white;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000;
  padding: 8px 15px;
}
